[submodule "Engine/extern/spdlog"]
	path = Engine/extern/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Engine/extern/bgfx.cmake"]
	path = Engine/extern/bgfx.cmake
	url = https://github.com/widberg/bgfx.cmake.git
